.header {
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  margin: auto;
  position: relative;
}

.header__logo {
  max-width: 255px;
  max-height: 69px;
}

.header__logo-icon {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  margin: auto;
}

.header__title {
  font-size: 96px;
  font-weight: 900;
  padding-top: 194px;
  margin: 0 auto 0;
  max-width: 720px;
  line-height: 104%;
}

.header__subtitle {
  font-size: 30px;
  line-height: 120%;
  margin: 32px auto 64px;
  font-weight: 400;
}

.header__image {
  margin: 0 auto;
  padding-left: 0;
  box-sizing: border-box;
  max-width: 984px;
}

.header__image-patria {
  max-width: 984px;
  max-height: 615px;
  object-fit: contain;
}

@media screen and (min-width: 320px) {
  .header__title {
    font-size: 40px;
    font-weight: 900;
    padding-top: 122px;
    margin: 0 auto 0;
    max-width: 228px;
    line-height: 110%;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 125%;
    margin: 32px auto 64px;
    font-weight: 400;
  }

  .header__image-patria {
    max-width: 320px;
    max-height: 200px;
  }
}

@media screen and (min-width: 544px) {
  .header__title {
    font-size: 55px;
    font-weight: 900;
    padding-top: 150px;
    margin: 0 auto 0;
    max-width: 350px;
    line-height: 108%;
  }

  .header__subtitle {
    font-size: 20px;
    line-height: 120%;
    margin: 32px auto 64px;
    font-weight: 400;
  }

  .header__image-patria {
    max-width: 544px;
    max-height: 350px;
  }
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 75px;
    font-weight: 900;
    padding-top: 186px;
    margin: 0 auto 0;
    max-width: 530px;
    line-height: 105%;
  }

  .header__subtitle {
    font-size: 30px;
    line-height: 120%;
    margin: 32px auto 64px;
    font-weight: 400;
  }

  .header__image-patria {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .header__title {
    font-size: 80px;
    font-weight: 900;
    padding-top: 190px;
    margin: 0 auto 0;
    max-width: 650px;
    line-height: 104%;
  }

  .header__subtitle {
    font-size: 30px;
    line-height: 120%;
    margin: 32px auto 64px;
    font-weight: 400;
  }

  .header__image-patria {
    max-width: 950px;
    max-height: 600px;
  }
}
